<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/stylesoo.css' /> -->
    <style type="text/css"> 
      a { text-decoration:none } 
    </style> 
  </head>
  <body id="titleBody">
    <header>
      <h1>하늘에서 내리는 봉봉</h1>
      <nav>
        <a href="/" id="titleHyper">새로하기</a>
      </nav>
    </header></br>
    </br></br></br></br></br></br>
    </br></br></br></br></br></br>
    <div id="buttonDiv">
      <div class="dark-button button-wrapper">
        <div class="button" onclick="post_to_url('selection',['10000000','-1','-1','1','-1','-1'],'get')">
            <span >
                게임 하기
            </span >
        </div>  
      </div>
      <div class="dark-button button-wrapper">
        <div class="button" onclick="location.href='ranking'">
            <span >
                랭킹 확인
            </span >
        </div>  
      </div>
    </div>



  </body>
</html>

<script>
  $("#main-image").slideDown(1000);



  function post_to_url(path, params, method) {
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        for(var key in params) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
        }
        document.body.appendChild(form);
        form.submit();
  }
</script>
