<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <input type="button" value="게임 하기" onclick="location.href='selection'"/>
      <input type="button" value="랭킹 확인" onclick="location.href='ranking'"/>
      <input type="button" value="게임 종료 Score 화면" onclick="location.href='score'"/>
    </div>
    <script type="text/javascript">

    </script>
  </body>
</html>
