<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <div>
            <input type="button" value="메인 화면" onclick="location.href='../'"/>
        </div>
  </body>
</html>
