<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome o <%= title %></p>
    <input type="button" value="메인 화면" onclick="location.href='../'"/>
  </body>
</html>
