<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="hangul.js" type="text/javascript"></script> -->
    <!-- or from CDN -->
    <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>
    <!-- <script type="text/javascript" src="../node_modules/hangul/index.js"></script> -->
</head>

<body>
    <div>
        <input id="searchInput">

        <div id="money">10000</div>
        <input id="stage1" class="input_change" value = "0" type="number" placeholder="금액을 입력해주세요." style="ime-mode:disabled;" min="500" max="10000" step="500"/>
        <input id="stage2" class="input_change" value = "0" type="number" placeholder="금액을 입력해주세요." style="ime-mode:disabled;" min="500" max="10000" step="500"/>
        <input id="stage3" class="input_change" value = "0" type="number" placeholder="금액을 입력해주세요." style="ime-mode:disabled;" min="500" max="10000" step="500"/>

        <input type="button" value="게임 시작" onclick="location.href='game'" />
        <input type="button" value="뒤로 가기" onclick="location.href='../'" />
    </div>
</body>

</html>

<script>
    $(".input_change").change(function () {
        // var sum = 10000;
        // var money = document.getElementById("money").innerHTML;
        // var stage1 = $('#stage1').val();
        // var stage2 = $('#stage2').val();
        // var stage3 = $('#stage3').val();

        // var result = money - stage1 - stage2 - stage3 ;
        // var flag = true;

        // if( result  < 0 ) {
        //     alert("금액 안에서 투자 해주세요.");
        //     $('#stage1').val(0);
        //     $('#stage2').val(0);
        //     $('#stage3').val(0);
        //     document.getElementById("money").innerHTML=10000;
        // } else if ( result == 0 ) {
        //     if( stage1==0 || stage2==0 || stage3==0 ) {
        //         alert("금액을 분배하여 투자 해주세요.");
        //         $('#stage1').val(0);
        //         $('#stage2').val(0);
        //         $('#stage3').val(0);
        //         document.getElementById("money").innerHTML=money;
        //     }
        //     document.getElementById("money").innerHTML=result;
        // } else {
        //     if ( stage1==0 && stage2!=0 && stage3!=0 ) {
        //         $('#stage1').val(result);
        //         document.getElementById("money").innerHTML=0;
        //     } else if ( stage1!=0 && stage2==0 && stage3!=0 ) {
        //         $('#stage2').val(result);
        //         document.getElementById("money").innerHTML=0;
        //     } else if ( stage1!=0 && stage2!=0 && stage3==0 ) {
        //         $('#stage3').val(result);
        //         document.getElementById("money").innerHTML=0;
        //     } else {
        //         document.getElementById("money").innerHTML=result;
        //     }
        // }

    });


    $(function () { //화면 다 뜨면 시작
        //DB쿼리 조작 없이 초성 검색을 하기 위해서는 우선 DB에 있는 항목들을 다 가지고 와야한다.
        //즉 너무 많은 수가 있으면 클라이언트 측이 느려질 수 있다는 점.
        //하지만 DB쿼리를 조작해서 서버에서 초성검색을 하는 방식에 비해 서버에는 무리가 없다.
        // ajax로 미리 검색어 목록을 다 가지고 온다.
        $.ajax({
            type: 'get',
            url: "https://sandbox-apigw.koscom.co.kr/v2/market/stocks/kospi/lists",
            dataType: "json",
            //request.term = $("#autocomplete").val()
            //data: {"param":"param"},

            beforeSend: function(request) {
                request.setRequestHeader("apikey","l7xxdde00a17960b4bac946be15d87e0f498");
            },

            success: function (data) {
                console.log("now finish your code")
                
                tmpData = []
                // data.push("test1")
                for(var i = 0; i < data.isuLists.length; i ++) {
                    tmpData.push(data.isuLists[i].isuKorNm)
                    // console.log(data.isuLists[i].isuKorNm)
                }

                // data=JSON.stringify(data)
                data=tmpData
                //  console.log(data)

                //현재 data 상태
                // data = ["김치 볶음밥","신라면","진라면","라볶이","팥빙수","너구리","삼양라면","안성탕면","불닭볶음면","짜왕","라면사리"];
                // console.log(data)


                //이부분이 초성 검색이 가능하게 만들어 주는 부분
                let source = $.map(data, function (item) { //json[i] 번째 에 있는게 item 임.
                    chosung = "";
                    //Hangul.d(item, true) 을 하게 되면 item이 분해가 되어서 
                    //["ㄱ", "ㅣ", "ㅁ"],["ㅊ", "ㅣ"],[" "],["ㅂ", "ㅗ", "ㄲ"],["ㅇ", "ㅡ", "ㅁ"],["ㅂ", "ㅏ", "ㅂ"]
                    //으로 나오는데 이중 0번째 인덱스만 가지고 오면 초성이다.

                    full = Hangul.disassemble(item).join("").replace(/ /gi, "");	//공백제거된 ㄱㅣㅁㅊㅣㅂㅗㄲㅇㅡㅁㅂㅏㅂ

                    Hangul.d(item, true).forEach(function (strItem, index) {

                        if (strItem[0] != " ") {	//띄어 쓰기가 아니면
                            chosung += strItem[0];//초성 추가

                        }
                    });


                    return {
                        label: chosung + "|" + (item).replace(/ /gi, "") + "|" + full, //실제 검색어랑 비교 대상 ㄱㅊㅂㅇㅂ|김치볶음밥|ㄱㅣㅁㅊㅣㅂㅗㄲㅇㅡㅁㅂㅏㅂ 이 저장된다.
                        value: item, //김치 볶음밥
                        chosung: chosung,	//ㄱㅊㅂㅇㅂ,
                        full: full
                    }
                });


                $("#searchInput").autocomplete({
                    source: source,	// source 는 자동 완성 대상
                    select: function (event, ui) {	//아이템 선택시
                        console.log(ui.item.label + " 선택 완료");

                    },
                    focus: function (event, ui) {	//포커스 가면
                        return false;//한글 에러 잡기용도로 사용됨
                    },
                    // 					search : function( value, event ) {
                    // // 						value.delegateTarget.value
                    // // 						input = value.delegateTarget.value;

                    // 						//$( "#searchInput" ).autocomplete( "search", Hangul.disassemble(input).join("").replace(/ /gi, "") );
                    // // 		 				return Hangul.disassemble(input).join("").replace(/ /gi, "");
                    // 					}

                }).autocomplete("instance")._renderItem = function (ul, item) {
                    //.autocomplete( "instance" )._renderItem 설절 부분이 핵심
                    return $("<li>")	//기본 tag가 li로 되어 있음 
                        .append("<div>" + item.value + "</div>")	//여기에다가 원하는 모양의 HTML을 만들면 UI가 원하는 모양으로 변함.
                        .appendTo(ul);	//웹 상으로 보이는 건 정상적인 "김치 볶음밥" 인데 내부에서는 ㄱㅊㅂㅇㅂ,김치 볶음밥 에서 검색을 함.
                };
            },

        });


        //여기가 한글 초중종성 검색 방법
        $("#searchInput").on("keyup", function () {	//검색창에 뭔가가 입력될 때마다
            input = $("#searchInput").val();	//입력된 값 저장
            $("#searchInput").autocomplete("search", Hangul.disassemble(input).join("").replace(/ /gi, ""));	//자모 분리후 띄어쓰기 삭제
        })
    });
</script>​